<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cauliflower.danielt.govopendata">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DisplayRainfallActivity" />
    </application>

</manifest>

    <!--Todo 01: 建立查詢條件給使用者 (done)
        Todo 02: 傳送查詢條件到指定頁面，進行查詢，最後顯示查詢結果於 RecyclerView(done)
        Todo 03: 點擊 Recycler item 後顯示詳細資料
        -->